<config>
    <sections>
        <logmailer translate="label comment" module="logmailer">
            <label>LOGMAILER_SETTINGS</label>
            <tab>advanced</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment" module="logmailer">
                    <label>GENERAL_SETTINGS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active>
                            <label>ENABLE_LOGMAILER</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <recipient_identity>
                            <label>RECIEVER_ADDRESS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><active>1</active></depends>
                        </recipient_identity>
                        <sender_identity>
                            <label>SENDER_ADDRESS</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><active>1</active></depends>
                        </sender_identity>
                        <manually_send>
                            <frontend_type>button</frontend_type>
                            <frontend_model>logmailer/adminhtml_manualsend</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </manually_send>
                    </fields>
                </general>
                <log_settings>
                    <label>LOG_SETTINGS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <max_megabyte>
                            <label>MAX_MEGABYTE</label>
                            <comment>MAX_MEGABYTE_COMMENT</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_megabyte>
                        <archive_sent_logs>
                            <label>ARCHIVE_SENT_LOGS</label>
                            <comment>ARCHIVE_SENT_LOGS_COMMENT</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </archive_sent_logs>
                        <send_attachment_type>
                            <label>SEND_LOGS_ATTACHMENT_AS</label>
                            <comment>SEND_LOGS_ATTACHMENT_AS_COMMENT</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>logmailer/system_config_source_attachmenttype</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </send_attachment_type>
                    </fields>
                </log_settings>
            </groups>
        </logmailer>
    </sections>
</config>